<div class="card shadow mb-4">
  <div class="card-header py-3">
    <!-- Button trigger modal -->
    <!-- <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addModal"
    >
      <i class="fas fa-plus"></i>
    </button> -->
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table
        class="table table-bordered"
        id="dataTable"
        width="100%"
        cellspacing="0"
      >
        <thead>
          <tr>
            <th>No</th>
            <th>Kategori</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Stok</th>
            <th>Gambar</th>
            <th>Set Stok</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < item.length; i++) { %>
          <tr>
            <td><%= i + 1 %></td>
            <td><%= item[i].categoryId.name %></td>
            <td><%= item[i].nameItem %></td>
            <td><%= item[i].harga %></td>
            <td><%= item[i].stok %></td>
            <td>
              <img
                src="https://e-menus.herokuapp.com/<%= item[i].imageUrl %>"
                alt="imageUrl"
                height="150px"
              />
            </td>
            <td>
              <% if(item[i].stok == "Kosong") {%>
              <form
                action="/admin/stok/ada/<%=item[i].id%>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn btn-success btn-sm">
                  Set Ada
                </button>
              </form>
              <% } %>
               <% if(item[i].stok == "Ada") {%>
              <form
                action="/admin/stok/kosong/<%=item[i].id%>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="btn btn-danger btn-sm">
                  Set Kosong
                </button>
              </form>
              <% } %>
            </td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
  </div>
</div>
